<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div>
     <div>{{user.name}}</div>
      <div>{{user.lastname}}</div>
      <div>{{user.age.value}}</div>
    </div>
  </body>
</html>